* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Numans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: calc(100% - 100px);
  height: calc(100vh - 200px);
  background-color: #fcd3a7;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  height: 100px;
  top: -50px;
  left: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20%;
  backdrop-filter: blur(10px);
}

header img {
  width: 36px;
  margin-left: -42px;
}

header ul {
  display: flex;
}

header .logo {
  color: rgb(110, 1, 1);
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  position: fixed;
}

header ul li {
  list-style: none;
  margin: 0 24px;
}

header ul a {
  text-decoration: none;
}

header ul .project {
  font-size: 18px;
  color: #800514;
  font-weight: 600;
}

header ul .project:hover {
  color: rgb(251, 238, 185);
  background: rgb(246, 69, 69);
  padding: 6px 10px;
  border-radius: 10px;
  transition: 0.5s;
}

header ul .skill {
  font-size: 18px;
  color: #800514;
  font-weight: 600;
}

header ul .skill:hover {
  color: rgb(251, 238, 185);
  background: rgb(239, 80, 80);
  padding: 6px 10px;
  border-radius: 10px;
  transition: 0.5s;
}

header ul .certificates {
  color: #800514;
  font-weight: 600;
  font-size: 16px;
}

header ul .certificates:hover {
  color: aquamarine;
  background: black;
  border-radius: 10px;
  padding: 8px 14px;
  transition: 0.5s;
}

header ul .resume {
  color: #800514;
  font-weight: 600;
}

header ul .resume:hover {
  color: aquamarine;
  background: black;
  border-radius: 10px;
  padding: 8px 14px;
  transition: 0.5s;
}

.content {
  position: relative;
  background: #f5f2f2;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 920px;
  height: auto;
  padding: 40px;
  border-radius: 20px;
  opacity: 80%;
  margin-top: 30px;
}

.content h1 {
  position: absolute;
  top: 20px;
  font-size: 30px;
  color: #800514;
  font-weight: 600;
}

.content p {
  font-size: 24px;
  padding: 28px;
  line-height: 1.6;
}

.icons {
  position: absolute;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons li {
  list-style: none;
}

.icons li a {
  text-decoration: none;
  width: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 13px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.icons li a img {
  transform: scale(0.6);
  width: 200px;
  height: 150%;
  transition: 0.5s;
}
